.hh
{
    background-color: blueviolet;
    color: white ;
    background-image: url("mountains-1587287_1280.jpg");
}
.hh1
{
    background-color: aqua;
    color: white;
    background-image: url("mountains-1587287_1280.jpg");
}